.container {
  padding: 0 2rem;
}

.main {
  min-height: 75vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  flex: 1;
  padding: 1.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.emphasize {
  color: #0070f3;
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

.emphasize2 {
  color: #0070f3;
  font-weight: bold;
  font-size: 40pt;
}

.large {
  font-size: 25pt;
}

.medium {
  font-size: 15pt;
  margin-top: 1rem;
}

.title a {
  color: #53a2fd;
  text-decoration: none;
  justify-content: space-between;
}

.title :target {
  color: #0080ff;
}

.title a:hover,
.title a:focus {
  text-decoration: underline;
  color: #006ae4;
  transition: 0.4s ease-in;
}

.pagetitle {
  margin-top: 3rem;
  font-size: 2.5rem;
  cursor: auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 1.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  
  width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin: 0.5rem;
}

.icon {
  height: 40px;
  width: 40px;
  margin-right: 2rem;
  display: flex;
}

#initials {
  color: #008cff;
  border-radius: 200px;
  padding: 15px;
  font-size: 2rem;
  transition: none;
}

.social {
  display: flex;
  margin: 1rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  font-size: 20pt;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;
  width: 700px;
}

.social:hover {
  transform: 0.3s ease-in;
  transform: scale(1.05);
  border: 2px solid #0077ff;
}

.links {
  margin: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3893fc;
  transition: 0.3s ease-in;
}

.link {
  margin: 4rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  font-size: 20pt;
  justify-content: center;
  color: #3893fc;
  transition: 0.3s ease-in;
}

.links img {
  margin: 0rem 2rem 0rem 2rem;
  transition: 0.2s ease-in;
}

.links img:hover {
  transform: 0.2s ease-in;
  transform: scale(1.1);
}

.link:hover {
  transition: 0.3s ease-in;
  color: #036ae0;
  text-decoration: underline;
}

.header {
  max-width: 60%;
  text-align: center;
}

.image {
  height: 70px;
  width: 70px;
  margin-right: 2rem;
  display: flex;
}

@media (max-width: 650px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .title a {
    color: #53a2fd;
    font-size: 15pt;
    margin: 0.5rem;
    text-decoration: none;
    justify-content: space-between;
    transition: 0.3s ease-in;
  }
}

@media (max-width: 700px) {
  .social {
    display: flex;
    margin: 1.5rem;
    /* border: 2px solid rgb(187, 187, 187); */
    border-radius: 25px;
    font-size: 3.5vw;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    width: fit-content;
  }

  .emphasize {
    font-size: 3.5vw;
  }
}
